#not-found {
  display: none;
  padding: 15px;
  background-color: aqua;
  border: 1px solid blanchedalmond;
  border-radius: 10px;
  margin: 0 auto;
  width: 400px;
  text-align: center;
  max-width: 100%;
  margin-top: 10%;
}
